/* Project title: JSCulator (Simple Javascript Calculator)
Developer: Omeiza Alabi
Email: omeizaalabi@gmail.com
Phone: 07055830564 */

button {
    height: 5rem;
    width: 6rem;
    font-size: 2rem;
}

#Screen {
    background-color: darkgray;
    height: 6rem;
    width: 24.7rem;
}

#TextOnScreen {
    float: right;
    margin-right: 1rem;
}

.center {
    text-align: center;
    margin: 0 auto;
}
.shared {
    width: 2.9rem;
}

.operator {
    background-color: burlywood;
}

